.projects__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.25rem 3.125rem;
}

.projects__container .projects__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 21.9rem;
    height: 18.75rem;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 5px var(--color-primary);
    transition: 0.5s;
}

.projects__container .projects__card:hover {
    transform: translateY(15%);
}

.projects__container .projects__card .projects__card-img {
    position: absolute;
    top: 1.25rem;
    width: 17.75rem;
    height: 13.25rem;
    background: transparent;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0 0 5px var(--color-primary);
}

.projects__container .projects__card:hover .projects__card-img {
    top: -6.25rem;
    scale: 0.75;
}

.projects__container .projects__card:hover .projects__card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__container .projects__card .projects__card-content {
    position: absolute;
    width: 100%;
    height: 2.2rem;
    top: 15.75rem;
    padding: 0 1.9rem;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.projects__container .projects__card:hover .projects__card-content {
    height: 13.75rem;
    top: 6.5rem;
}


.projects__container .projects__card .projects__card-content h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-primary-variant);
}

.projects__container .projects__card .projects__card-content h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-primary-variant);
}

.projects__container .projects__card .projects__card-content p {
    font-size: 0.9rem;
    color: var(--color-light);
}

.projects__container .projects__card .projects__card-content .projects__card-links {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}

.projects__container .projects__card .projects__card-content .projects__card-links h5 {
    margin-right: 1.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-primary-variant);
}

.projects__container .projects__card .projects__card-content .projects__card-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: var(--color-white);
    background: var(--color-primary);
    margin: 0 0.5rem;
    font-size: 1.3rem;
    border-radius: 25%;
}

.projects__container .projects__card .projects__card-content .projects__card-links a:hover {
    background: var(--color-white);
    color: var(--color-bg);
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1124px) {
    .projects__container {
        padding-top: 1rem;
        justify-content: center;
    }

    .projects__container .projects__card {
        width: calc(50% - 2.125rem);
    }

    .projects__container .projects__card .projects__card-img {
        width: 80%;
        height: 58%;
    }

    .projects__container .projects__card:hover .projects__card-content {
        top: 4.5rem;
    }
}


/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .projects__container .projects__card {
        width: 21.9rem;
        height: 18.75rem;
    }
}