/* ================= BLOG CARDS SHOW ================= */
.container.blogcards__container {
    width: 30%;
    /*height: 30%;*/
    padding-bottom: 3rem;
    overflow: hidden; /* Hide the overflow to prevent horizontal scrollbar */

}

.blogcard__avatar {
    width: 7rem;
    aspect-ratio: 3/3;
    margin: 0 auto 1rem;
    box-shadow: 0 0 5px var(--color-primary);
    /*border-radius: 50%;*/
    overflow: hidden;

}

.blogcard {
    padding: 1rem 2rem;
    /*margin-top: 1rem;*/
    /*margin: 2rem 0.3rem;*/

    text-align: center;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0 1px 0 var(--color-primary);
    /*border-radius: 2rem;*/
    user-select: none;
}

.blogcard__review {
    display: block;
    width: 100%;
    margin: 0.8rem auto 0;
    color: var(--color-light);
    font-weight: 300;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--color-primary);

}

.blogcards__heading {
    margin-bottom: 0.5rem;
}



/*!* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= *!*/
/*@media screen and (max-width: 1024px) {*/
/*    .container.testimonials__container {*/
/*        width: 60%;*/
/*    }*/
/*}*/

/*!* ================= MEDIA QUERIES (SMALL DEVICES) ================= *!*/
/*@media screen and (max-width: 600px) {*/
/*    .container.testimonials__container {*/
/*        width: var(--container-width-sm);*/
/*    }*/

/*    .client__review {*/
/*        width: var(--container-width-sm);*/
/*    }*/
/*}*/
