@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-bg: #1f1f20;
    --color-bg-variant: #303030;
    --color-primary: #f06b4f;
    --color-primary-variant: rgb(253, 134, 110);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: block;
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-white);
}

body {
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: var(--color-white);
    background-image: url(../src/assets/shattered-dark.png);

}

/* ================= GENERAL STYLES ================= */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

section {
    margin-top: 8rem;
    padding-top: 5rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

section > h2 {
    margin-bottom: 3rem;
    color: var(--color-primary);
}

.text-light {
    color: var(--color-light);
}

.text-basic {
    color: var(--color-primary);
}


a {
    transition: var(--transition);
    color: var(--color-primary);
}

a:hover {
    color: var(--color-white);
}

.btn {
    display: inline-block;
    width: max-content;
    padding: 0.75rem 1.2rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.4rem;
    transition: var(--transition);
    color: var(--color-primary);
    cursor: pointer;
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }

    section > h2, section > h5 {
        text-align: center;
        margin-bottom: 1px;

    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}













